{% extends "shared/_layout.html" %}
{% load static %}
{% load thumbnail %}
{% load render_partial %}
{% block title %}داشبورد{% endblock title %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center">داشبورد کاربری</h2>
                    <form class="" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                {{form}}
                            </div>


                        </div>

                        <div class="row text-center">
                            <input class="button btn-primary " type="submit" value=" تغییر کلمه عبور">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-3">
                {% render_partial "account_module.views.dashboard_loader_component" %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}

