<div class="blog-post-area">
    <h2 class="title text-center">پنل کاربری</h2>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Cras justo odio
        </a>
        <a href="#" class="list-group-item">پنل کاربری</a>
        <a href="{% url "account_module:edit_user_profile_page" %}" class="list-group-item">ویرایش اطلاعات</a>
        <a href="{% url "account_module:change_pass_page" %}" class="list-group-item">تغییر کلمه عبور</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
</div>