{% extends "shared/_layout.html" %}
{% load static %}
{% load jalali_tags %}
{% load thumbnail %}
{% block title %}{{article.title | title}}{% endblock title %}

{% block content %}
<section>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center"> {{article.title}} </h2>
						<div class="single-blog-post">
							<h3>{{article.short_description}}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i>{{article.author}}</li>
									<li><i class="fa fa-clock-o"></i>{{article.created_time|to_jalali:"%H:%M"}}</li>
									<li><i class="fa fa-calendar"></i>{{article.created_time|to_jalali:"%Y/%m/%d"}}</li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
							<a href="">
                				{% thumbnail article.image "862x398" padding=True as im  %}
								  <img src="{{im.url}}" alt="">
                				{% endthumbnail %}
							</a>
							<p>{{article.text}}</p>
							<div class="pager-area">
								<ul class="pager pull-left">
									<li><a href="#">قبلی</a></li>
									<li><a href="#">بعـدی</a></li>
								</ul>
							</div>
						</div>
					</div><!--/blog-post-area-->

					<div class="rating-area">
						<ul class="ratings">
							<li class="rate-this">به این مطلب امتیـاز دهیـد :</li>
							<li>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
							<li class="color">( 6 نظـر )</li>
						</ul>
						<ul class="tag">
							<li>برچسب :</li>
							<li><a class="color" href="">برچسب 1 <span>/</span></a></li>
							<li><a class="color" href="">برچسب 2 <span>/</span></a></li>
							<li><a class="color" href="">برچسب 3</a></li>
						</ul>
					</div><!--/rating-area-->

					<div class="socials-share">
						<a href=""><img src="{% static "images/blog/socials.png" %}" alt=""></a>
					</div><!--/socials-share-->

					<div class="media commnets">
						<a class="pull-right" href="#">
						{% thumbnail article.author.userprofile.avatar "121x86" as im %}
							<img class="media-object" src="{{ im.url }}" alt="">
						{% endthumbnail %}
						</a>
						<div class="media-body">
							<h4 class="media-heading">{{article.author}}</h4>
							{% if article.author.userprofile.abut_user %}
								<p>{{article.author.userprofile.abut_user}}</p>
							{% else %}
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده ازلورملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از </p>
							{% endif %}
							<div class="blog-socials">
								<ul>
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<a class="btn btn-primary" href="">سایـر مطالب نویسنده</a>
							</div>
						</div>
					</div><!--Comments سایـر مطالب نویسنده-->

					<div class="response-area" id="reload-comment">
						<h2> نظرات ({{comments_count}})</h2>
						<ul class="media-list">
							{% for comment in comments %}
							<li class="media" id="comment-location-{{comment.id}}">
								
								<a class="pull-right" href="#">
								{% thumbnail comment.author.userprofile.avatar "121x86" quality=100 as im %}
									<img class="media-object" src="{{ im.url }}" alt="">
								{% endthumbnail %}
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{comment.author}}</li>
										<li><i class="fa fa-clock-o"></i>{{comment.created_time | to_jalali:"%H : %M"}}</li>
										<li><i class="fa fa-calendar"></i>{{comment.created_time | to_jalali:"%Y/%m/%d"}}</li>
									</ul>
									<p>{{comment.body}}</p>
									{% if comment.parent is None %}
									<a class="btn btn-primary replay-comment" onclick="sendReplayComment({{comment.id}})"><i class="fa fa-reply"></i>پاسـخ</a>
									{% endif %}
								</div>
							</li>
							
							{% for sub_comment in comment.replies.all %}
							<li class="media second-media" id="comment-location-{{sub_comment.id}}">
								<input type="hidden" id="set-comment-id" value="{{sub_comment.id}}">
								<a class="pull-right" href="#">
								{% thumbnail sub_comment.author.userprofile.avatar "121x86" quality=100 as im %}
									<img class="media-object" src="{{ im.url }}" alt="">
								{% endthumbnail %}
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{sub_comment.author}}</li>
										<li><i class="fa fa-clock-o"></i>{{sub_comment.created_time | to_jalali:"%H : %M"}}</li>
										<li><i class="fa fa-calendar"></i>{{sub_comment.created_time | to_jalali:"%Y/%m/%d"}}</li>
									</ul>
									<p>{{sub_comment.body}}</p>
									
								</div>
							</li>
							{% endfor %}{% endfor %}
						</ul>					
					</div><!--/Response-area-->

					<div class="replay-box" id="writeComment">
						{% if request.user.is_authenticated %}
						<div class="row">
								<h2>نظـر خود را بنویسیـد</h2>							
							<div class="col-sm-12">
								<div class="text-area">
									<input type="hidden" id="parent_id" value="">
									{% comment %} <input type="hidden" id="articleID" value="{{article.id}}"> {% endcomment %}
									<div class="blank-arrow">
										<label>متن پیام</label>
									</div>
									<span>*</span>
									<textarea name="message" id="send-comment" rows="11"></textarea>
									<a class="btn btn-primary " onclick="sendArticleComment({{article.id}})">ارسـال نظـر</a>
								</div>
							</div>
						</div>
						{% else %}
							
								<p class="alert-info">
									<a href="{% url "account_module:login_page" %}">You must Login for send your Comment.</a>
								</p>
							
						{% endif %}
					</div><!--/Repaly Box-->
					
				</div>
				
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>دسته بندی محصولات</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											دسته 1
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">محصول 1 </a></li>
											<li><a href="">محصول 2 </a></li>
											<li><a href="">محصول 3 </a></li>
											<li><a href="">محصول 4</a></li>
											<li><a href="">محصول 5</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											دسته 2
										</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">محصول 1 </a></li>
											<li><a href="">محصول 2 </a></li>
											<li><a href="">محصول 3 </a></li>
											<li><a href="">محصول 4</a></li>
											<li><a href="">محصول 5</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 1</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 2</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 3</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 4</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 5</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 6</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 7</a></h4>
								</div>
							</div>
						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>برنـد ها</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href=""> <span class="pull-left">(50)</span>برنـد 1</a></li>
									<li><a href=""> <span class="pull-left">(56)</span>برنـد 2</a></li>
									<li><a href=""> <span class="pull-left">(27)</span>برنـد 3</a></li>
									<li><a href=""> <span class="pull-left">(32)</span>برنـد 4</a></li>
									<li><a href=""> <span class="pull-left">(5)</span>برنـد 5</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="{% static "images/home/shipping.jpg" %}" alt="">
						</div><!--/shipping-->
						
					</div>
				</div>
				
			</div>
		</div>
	</section>

{% endblock content %}