{% extends "shared/_layout.html" %}
{% load static %}
{% load thumbnail %}
{% load jalali_tags %}
{% block title %}لیست مقالات{% endblock title %}

{% block content %}
    <section>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">آخریـن مقالات</h2>
                        {% for article in articles %}
                            <div class="single-blog-post">
                                <h3>{{article.title}}</h3>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="fa fa-user"></i>{{article.author}}</li>
                                        <li><i class="fa fa-clock-o"></i>{{article.created_time|to_jalali:'%H : %M : %S'}}</li>
                                        <li><i class="fa fa-calendar"></i>{{article.created_time|to_jalali:'%Y/%m/%d'}}</li>
                                    </ul>
                                    <span>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                    </span>
                                </div>
                                <a href="{% url "blog_module:blog_detail_page" slug=article.slug %}">

                                    {% thumbnail article.image "862x398" padding=True  as im %}
                                        <img src="{{im.url}}" alt="">
                                    {% endthumbnail %}
                                </a>
                                <p>{{article.short_description}}</p>
                                <a class="btn btn-primary" href="{% url "blog_module:blog_detail_page" slug=article.slug %}">ادامـه مطلب</a>
                            </div>
                        {% empty %}
                        <h3 class="text-info text-center fa-border">NOT FOUND</h3>
                        {% endfor %}
						<div class="pagination-area">
							<ul class="pagination">

                                {% if page_obj.has_previous %}
                                    <li><a href="?page=1">First</a></li>
                                    <li><a href="?page={{page_obj.previous_page_number}}" class="fa fa-angle-double-left"></a></li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    <li><a href="?page={{page}}"
                                        class={% if page == page_obj.number %}"active"{% endif %}>
                                        {{page}}</a></li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{page_obj.next_page_number}}" class="fa fa-angle-double-right"></a>
                                </li>
                                <li><a href="?page={{page_obj.paginator.num_pages}}" >Last</a></li>
                                {% endif %}

							</ul>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>دسته بندی مقالات</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
                                {% for category in categories %}
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#{{category.id}}">
                                                {% if category.category_set.all %}
                                                    <span class="badge pull-right">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                    {{category}}
                                                {% else %}
                                                    <span class="badge pull-right">
                                                        <i class="fa fa-minus"></i>
                                                    </span>
                                                    {{category}}
                                                {% endif %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="{{category.id}}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                {% for sub_category in category.category_set.all %}
                                                    {% if sub_category.is_active %}
                                                        <li>
                                                            <a href="{% url "blog_module:blog_list_page" category_id=sub_category.id %}">{{sub_category}}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}EMPTY{% endfor %}

							<div class="panel panel-default">
								<div class="panel-heading">
                                    {% for article in articles %}
									    <h4 class="panel-title">
                                        <a href="{% url "blog_module:blog_detail_page" slug=article.slug %}">
                                        {{article.title}}
                                        </a>
                                        </h4>
                                    {% endfor %}
								</div>
							</div>

						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>برنـد ها</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href=""> <span class="pull-left">(50)</span>برنـد 1</a></li>
									<li><a href=""> <span class="pull-left">(56)</span>برنـد 2</a></li>
									<li><a href=""> <span class="pull-left">(27)</span>برنـد 3</a></li>
									<li><a href=""> <span class="pull-left">(32)</span>برنـد 4</a></li>
									<li><a href=""> <span class="pull-left">(5)</span>برنـد 5</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						
						<div class="shipping text-center" style="background: white;"><!--shipping-->
							{% for banner in banners %}
                                <a href="{{banner.url}}" target="_blank">
                                    {% thumbnail banner.image "270x700" as im %}
                                        <img src="{{im.url}}" alt="">
                                    {% endthumbnail %}
                                </a>
                            {% endfor %}
						</div><!--/shipping-->
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
{% endblock content %}
