{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{% block title %}{% endblock title %}</title>
		{% include "include/header_references.html" %}<!--/head references-->
		{% block header_references %}{% endblock header_references %}
	</head>
	<body>
		{% render_partial 'home_module.views.header_loader_view' %}<!--/header-->
		{% block content %}{% endblock content %}<!--/content-->
		{% render_partial 'home_module.views.footer_loader_view' %}<!--/Footer-->
		{% include "include/footer_references.html" %}<!--/footer references-->
		{% block footer_references %}{% endblock footer_references %}
	</body>
</html>